
</main>
<section id="footer"  class = "bg-dark">

    <div class="container">
        <footer class="py-3 my-4">

            <p class="footer-text" >arzu.dev</p>
        </footer>
    </div>
</section>

</body>
</html>